In [1]:
# Data Cleaning - CDC - Main
# Verison 3
## 1/13/25
## 00:10

In [2]:
# Importing Modules
import sys
import os

# Add the root directory to sys.path
sys.path.append(os.path.abspath(".."))

# Now you can use absolute imports
from d497_helpers import folder_manager as fm, archive_module, checkpoint_helper as CheckPoint, database_helper as db_tool, config

# Pandas
import pandas as pd

# Numpy
import numpy as np

# RegularExpression for string matching
import re

# GLOB 
import glob 

# Pathlib 
from pathlib import Path

In [3]:

# Empty DataFrame
cdc_data_main_footless_df = pd.DataFrame()
cdc_data_main_df = pd.DataFrame()
CDC_Totals_df = pd.DataFrame()

raw_cdc_data_main_bare_df = pd.DataFrame()
raw_cdc_data_bare_partial_df = pd.DataFrame()

raw_cdc_data_partial_totals_rows_df = pd.DataFrame()
raw_cdc_data_totals_rows_df = pd.DataFrame()

# Empty Dictionary
import_dictionary = {}

# Runnuing Total Of Rows
total_rows = 0

# Years For Range Loop
year_start = 1995
year_end = 2023

In [4]:
# Datatypes 
# May be worth not doing this due to a conflict between handling datatypes on import and handling null/na values.

dtypes_old = {
        'Notes': str,
        'Year': str,
        'Year Code': str,
        'State': str,
        'State Code': str,
        'County': str,
        'County Code': str,
    }



dtypes_new = {
        'Notes': str,
        'Year': str,
        'Year Code': str,
        'Month': str,
        'Month Code': str,
        'State': str,
        'State Code': str,
        'County': str,
        'County Code': str,
    }

In [5]:
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####                                         #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####            END OF VARIABLES             #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####           START OF FUNCTIONS            #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####                                         #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####

In [6]:
def get_main_dataframe(filename):

    global cdc_data_main_df_csv
    global cdc_data_main_df_pickle

    file_name_csv = filename + ".csv"
    print(file_name_csv)
    file_name_pickle = filename + ".pkl"
    print(file_name_pickle)
    
    file_path_csv = config.global_processed_cdc_data_folder_path + "/" + file_name_csv
    file_path_pickle = config.global_processed_cdc_data_folder_path + "/" + file_name_pickle
    
    import_main_df_csv = pd.read_csv(file_path_csv, sep=",")

    import_main_df_pickle = pd.read_pickle(file_path_pickle)

    cdc_data_main_df_csv = import_main_df_csv.copy()
    cdc_data_main_df_pickle = import_main_df_pickle.copy()

    del import_main_df_csv
    del import_main_df_pickle
    
    #return ufo_data_main_df

In [7]:
def find_raw_files(year:str):

    year_selected =  year

    # Used By Glob
    file_name_pattern = "raw_cdc_data_*.txt"

    # Used By Matching Indices
    re_pattern = r"raw_cdc_data_" + year + r"\.txt"
    
    #re.search((^.+(CDC_Natality_Birth_Data.)+(Raw_CDC_Natality_Birth_Data_)+)(\d+)+(.txt)

    matched_files = glob.glob(config.global_raw_cdc_data_folder_path + "/" + file_name_pattern)

    if matched_files:
    
        matched_files.sort()

        matching_indices = [index for index, file in enumerate(matched_files) if re.search(re_pattern, file)]
        
        if matching_indices:
            #print("Found")
            cdc_data_file = matching_indices[0]
            cdc_data_file_path = matched_files[cdc_data_file]
            return cdc_data_file_path
        else:
            #print("Not Found")
            return []
    
        
        return cdc_data_file
        
    else:
        print(f"No Files Found That Match the File Name Pattern {file_name_pattern}")
        return []

In [8]:
def find_feetless_files(year:str):

    year_selected =  year

    # Used By Glob
    file_name_pattern = "processed_cdc_data_*_footer_removed.csv"

    # Used By Matching Indices
    re_pattern = r"processed_cdc_data_" + year + r"\_footer_removed.csv"
    
    #re.search((^.+(CDC_Natality_Birth_Data.)+(Raw_CDC_Natality_Birth_Data_)+)(\d+)+(.txt)

    matched_files = glob.glob(config.global_processed_cdc_data_folder_path  + "/" + file_name_pattern)

    if matched_files:
    
        matched_files.sort()

        matching_indices = [index for index, file in enumerate(matched_files) if re.search(re_pattern, file)]
        
        if matching_indices:
            #print("Found")
            cdc_data_file = matching_indices[0]
            cdc_data_file_path = matched_files[cdc_data_file]
            return cdc_data_file_path
        else:
            #print("Not Found")
            return []
    
        
        return cdc_data_file
        
    else:
        print(f"No Files Found That Match the File Name Pattern {file_name_pattern}")
        return []

In [9]:
def find_bare_feet_files(year:str):

    year_selected =  year

    # Used By Glob
    bare_file_name_pattern = "processed_cdc_data_*_totals_rows_removed.csv"
    #file_name_pattern = "CDC_Natality_Birth_Data_*_total_rows_removed.pkl"

    # Used By Matching Indices
    bare_re_pattern = r"processed_cdc_data_" + year + r"\_totals_rows_removed.csv"
    #re_pattern = r"CDC_Natality-Birth_Data_" + year + r"*_total_rows_removed.pkl"
    
    #re.search((^.+(CDC_Natality_Birth_Data.)+(Raw_CDC_Natality_Birth_Data_)+)(\d+)+(.txt)

    bare_matched_files = glob.glob(config.global_processed_cdc_data_folder_path  + "/" + bare_file_name_pattern)

    if bare_matched_files:
    
        bare_matched_files.sort()

        bare_matching_indices = [index for index, file in enumerate(bare_matched_files) if re.search(bare_re_pattern, file)]
        
        if bare_matching_indices:
            #print("Found")
            bare_cdc_data_file = bare_matching_indices[0]
            bare_cdc_data_file_path = bare_matched_files[bare_cdc_data_file]
            return bare_cdc_data_file_path
        else:
            #print("Not Found")
            return []
    
        
        return bare_cdc_data_file_bare
        
    else:
        print(f"No Files Found That Match the File Name Pattern {bare_file_name_pattern}")
        return []

In [10]:
def find_totals_files(year:str):

    year_selected =  year

    # Used By Glob
    totals_file_name_pattern = "processed_cdc_data_*_totals_rows.csv"
    #file_name_pattern = "CDC_Natality-Birth_Data_*_total_rows_removed.pkl"

    # Used By Matching Indices
    totals_re_pattern = r"processed_cdc_data_" + year + r"\_totals_rows.csv"
    #re_pattern = r"CDC_Natality-Birth_Data_" + year + r"*_total_rows_removed.pkl"
    
    #re.search((^.+(CDC_Natality_Birth_Data.)+(Raw_CDC_Natality_Birth_Data-)+)(\d+)+(.txt)

    totals_matched_files = glob.glob(config.global_processed_cdc_data_folder_path + "/" + totals_file_name_pattern)

    if totals_matched_files:
    
        totals_matched_files.sort()

        totals_matching_indices = [index for index, file in enumerate(totals_matched_files) if re.search(totals_re_pattern, file)]
        
        if totals_matching_indices:
            #print("Found")
            totals_cdc_data_file = totals_matching_indices[0]
            totals_cdc_data_file_path = totals_matched_files[totals_cdc_data_file]
            return totals_cdc_data_file_path
        else:
            #print("Not Found")
            return []
    
        
        return totals_cdc_data_file
        
    else:
        print(f"No Files Found That Match the File Name Pattern {totals_file_name_pattern}")
        return []

In [11]:
def get_footer(file_path, rows_to_skip):

    with open(file_path, 'r') as f:
        lines = f.readlines()
        return lines[-rows_to_skip:]

In [17]:
def save_footer(lines, year):
    
    export_folder_path = config.global_cdc_footer_folder_path
    #print(cdc_footers_folder)
    export_footer_file_name = "CDC_Footer_Data_" + str(year) + ".txt"

    export_file_footer_path = Path(export_folder_path + "/" + export_footer_file_name)
    
    #print(export_file_footer_path)
    f = open(export_file_footer_path, "w")
    f.writelines(lines)
    f.close()

In [13]:
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####                                         #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####            END OF FUNCTIONS             #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####         START OF INITIALIZER            #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####                                         #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####

In [14]:

# Initializes Database Engine and Session For SQL
db_tool.initialize_engine()
db_tool.initialize_session()

In [15]:
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####                                         #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####           END OF INITIALIZER            #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####           START OF MAIN CODE            #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####                                         #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####

## Data Cleaning
### Import Downloaded Year Data and Split into Two files, Data file and Footer file

In [30]:
for year in range(year_start, year_end+1):
    
    file_path = find_raw_files(str(year))

    import_dictionary[year] = {
        "file_path" : file_path, 
        "footer_start_index" : None,
        "length_of_file": None,
        "rows_to_skip": None,
    }
    
    #cdc_data_file = pd.read_csv(file_path, sep="\t")

    #print(f"File for {year} found at {file_path}")

    # Step 1: Read the file to detect the position of the first "---"
    raw_df = pd.read_csv(file_path, engine='python', sep="\t")

    # Step 2: Find the index where the first occurrence of '---' appears in the first column
    footer_start_index = raw_df[raw_df.iloc[:, 0].astype(str).eq('---')].index.min()

    import_dictionary[year].update({"footer_start_index": footer_start_index})

    total_length = len(raw_df)

    import_dictionary[year].update({"length_of_file": total_length})
    
    # Step 3: Calculate the number of rows to skip (total rows - footer start position)
    #rows_to_skip = len(raw_df) - footer_start_index
    rows_to_skip = total_length - footer_start_index
    import_dictionary[year].update({"rows_to_skip": rows_to_skip})
    
    #print(f"Footer starts at: {footer_start_index}, footer ends at {len(raw_df)}, and is {rows_to_skip} rows long\n")
    #print(f"Footer starts at: {footer_start_index}, footer ends at {total_length}, and is {rows_to_skip} rows long\n")
    
    total_rows += footer_start_index
    print(f"{year} should add {(total_length-rows_to_skip)} to the total rows counter, new value is: {total_rows}")
    
    if year <= 2002:
        # Step 4a: Re-read the file, skipping footer rows, uses "dtypes_old" for handling the older years structure/data differences
        cdc_data_partial_df = pd.read_csv(file_path, skipfooter=rows_to_skip, engine='python', sep="\t", dtype=dtypes_old)
        
    else:
        # Step 4b: Re-read the file, skipping footer rows, uses "dtypes_new" for handling the newer years structure/data differences 
        cdc_data_partial_df = pd.read_csv(file_path, skipfooter=rows_to_skip, engine='python', sep="\t", dtype=dtypes_new)
        
    # Step 5 : Assigning Variables for Path and File Name Creationg
    export_folder_path = config.global_processed_cdc_data_folder_path
    export_file_name = "processed_cdc_data_" + str(year) + "_footer_removed.csv"

    # Step 6 :: Creates Export File Path For CSV Export
    export_file_path = Path(export_folder_path + "/" + export_file_name)
    #print(export_file_path)


    footer_lines = get_footer(file_path, rows_to_skip)
    #print(footer_lines)

    save_footer(footer_lines, year)
    
    # Step 7 :: Exports The Partial Dataframe or the imported year's data without the footer to CSV file
    cdc_data_partial_df.to_csv(export_file_path, sep=",")
        
    # Step 8 :: Combined CDC Data and concat into main
    cdc_data_main_footless_df = pd.concat([cdc_data_main_footless_df, cdc_data_partial_df], axis=0, ignore_index=True)

    # Step 9 :: Delete Partial CDC Data Dataframe to free up memory before looping again
    del cdc_data_partial_df

    # Step 10 :: Delete Raw Dataframe to free up memory before looping again 
    del raw_df

1995 should add 507 to the total rows counter, new value is: 174366
1996 should add 561 to the total rows counter, new value is: 174927
1997 should add 561 to the total rows counter, new value is: 175488
1998 should add 561 to the total rows counter, new value is: 176049
1999 should add 561 to the total rows counter, new value is: 176610
2000 should add 561 to the total rows counter, new value is: 177171
2001 should add 561 to the total rows counter, new value is: 177732
2002 should add 561 to the total rows counter, new value is: 178293
2003 should add 7490 to the total rows counter, new value is: 185783
2004 should add 7490 to the total rows counter, new value is: 193273
2005 should add 7490 to the total rows counter, new value is: 200763
2006 should add 7490 to the total rows counter, new value is: 208253
2007 should add 8174 to the total rows counter, new value is: 216427
2008 should add 8174 to the total rows counter, new value is: 224601
2009 should add 8174 to the total rows counter, new value is: 232775
2010 should add 8174 to the total rows counter, new value is: 240949
2011 should add 8174 to the total rows counter, new value is: 249123
2012 should add 8174 to the total rows counter, new value is: 257297
2013 should add 8174 to the total rows counter, new value is: 265471
2014 should add 8174 to the total rows counter, new value is: 273645
2015 should add 8174 to the total rows counter, new value is: 281819
2016 should add 8174 to the total rows counter, new value is: 289993
2017 should add 8174 to the total rows counter, new value is: 298167
2018 should add 8174 to the total rows counter, new value is: 306341
2019 should add 8174 to the total rows counter, new value is: 314515
2020 should add 8174 to the total rows counter, new value is: 322689
2021 should add 8174 to the total rows counter, new value is: 330863
2022 should add 8174 to the total rows counter, new value is: 339037
2023 should add 8174 to the total rows counter, new value is: 347211

In [31]:
cdc_data_main_footless_df

,Notes,Year,Year Code,State,State Code,County,County Code,Births,Month,Month Code
0,NaN,1995,1995,Alabama,01,"Calhoun County, AL",01015,1520,NaN,NaN
1,NaN,1995,1995,Alabama,01,"Jefferson County, AL",01073,9372,NaN,NaN
2,NaN,1995,1995,Alabama,01,"Madison County, AL",01089,3846,NaN,NaN
3,NaN,1995,1995,Alabama,01,"Mobile County, AL",01097,6093,NaN,NaN
4,NaN,1995,1995,Alabama,01,"Montgomery County, AL",01101,3514,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
173347,NaN,2023,2023,Wyoming,56,"Unidentified Counties, WY",56999,472,December,12
173348,Total,2023,2023,Wyoming,56,NaN,NaN,472,December,12
173349,Total,2023,2023,NaN,NaN,NaN,NaN,298043,December,12
173350,Total,2023,2023,NaN,NaN,NaN,NaN,3596017,NaN,NaN
173351,Total,NaN,NaN,NaN,NaN,NaN,NaN,3596017,NaN,NaN

In [22]:
import_dictionary_df = pd.DataFrame()

import_dictionary_df = import_dictionary_df.from_dict(import_dictionary)

In [23]:
import_dictionary_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, file_path to rows_to_skip
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1995    4 non-null      object
 1   1996    4 non-null      object
 2   1997    4 non-null      object
 3   1998    4 non-null      object
 4   1999    4 non-null      object
 5   2000    4 non-null      object
 6   2001    4 non-null      object
 7   2002    4 non-null      object
 8   2003    4 non-null      object
 9   2004    4 non-null      object
 10  2005    4 non-null      object
 11  2006    4 non-null      object
 12  2007    4 non-null      object
 13  2008    4 non-null      object
 14  2009    4 non-null      object
 15  2010    4 non-null      object
 16  2011    4 non-null      object
 17  2012    4 non-null      object
 18  2013    4 non-null      object
 19  2014    4 non-null      object
 20  2015    4 non-null      object
 21  2016    4 non-null      object
 22  2017    4 non-null      object
 23  2018    4 non-null      object
 24  2019    4 non-null      object
 25  2020    4 non-null      object
 26  2021    4 non-null      object
 27  2022    4 non-null      object
 28  2023    4 non-null      object
dtypes: object(29)
memory usage: 960.0+ bytes

In [24]:
import_dictionary_df = import_dictionary_df.transpose()

In [25]:
#test['year'] = test.index
import_dictionary_df = import_dictionary_df.rename_axis('year').reset_index()

In [26]:
import_dictionary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                29 non-null     int64
 1   file_path           29 non-null     object
 2   footer_start_index  29 non-null     object
 3   length_of_file      29 non-null     object
 4   rows_to_skip        29 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [27]:
import_dictionary_df.head()

,year,file_path,footer_start_index,length_of_file,rows_to_skip
0,1995,D:\WGU\D497\Project_1\data\raw_data\cdc_data\r...,507,556,49
1,1996,D:\WGU\D497\Project_1\data\raw_data\cdc_data\r...,561,605,44
2,1997,D:\WGU\D497\Project_1\data\raw_data\cdc_data\r...,561,605,44
3,1998,D:\WGU\D497\Project_1\data\raw_data\cdc_data\r...,561,605,44
4,1999,D:\WGU\D497\Project_1\data\raw_data\cdc_data\r...,561,605,44

In [28]:
#test.insert(0, 'year', test.pop('year'))
import_dictionary_df.insert(1, 'length_of_file', import_dictionary_df.pop('length_of_file'))
import_dictionary_df.insert(4, 'file_path', import_dictionary_df.pop('file_path'))

In [29]:
import_dictionary_df.head()

,year,length_of_file,footer_start_index,rows_to_skip,file_path
0,1995,556,507,49,D:\WGU\D497\Project_1\data\raw_data\cdc_data\r...
1,1996,605,561,44,D:\WGU\D497\Project_1\data\raw_data\cdc_data\r...
2,1997,605,561,44,D:\WGU\D497\Project_1\data\raw_data\cdc_data\r...
3,1998,605,561,44,D:\WGU\D497\Project_1\data\raw_data\cdc_data\r...
4,1999,605,561,44,D:\WGU\D497\Project_1\data\raw_data\cdc_data\r...

In [32]:
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 


CheckPoint.create_checkpoint("processed_cdc_data", "processed_cdc_data_import_dictionary", import_dictionary_df)

CheckPoint.create_checkpoint("processed_cdc_data", "processed_cdc_data_main_footless", cdc_data_main_footless_df)



#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####

In [24]:
#CDC_Natality_Birth_Data_Main_Footless_df.to_pickle("D:\\WGU\\D497\\Project_1-Real_World_Data_Wrangling_With_Python\\data\\file_downloads\\raw_files\\CDC_Natality_Birth_Data\\CDC_Natality_Birth_Data_import_dictionary.pkl")

In [25]:
# Assert for Compariting the dictionary value created on import to the dataframe's length value with a year filter
#assert import_dictionary[1995].get("footer_start(_index") == len(CDC_Natality_Birth_Data_Main_df[CDC_Natality_Birth_Data_Main_df['Year'] == "1995"])

In [33]:
print(total_rows)

347211

In [34]:
len(cdc_data_main_footless_df)

173352

### Remove 'Total' Rows from the Dataset

In [35]:
for year in range(year_start, year_end+1):

    feetless_file_path = find_feetless_files(str(year))

    #print(feetless_file_path)

    #import_dictionary[year] = {
    #    "file_path" : file_path, 
    #    "footer_start_index" : None,
    #    "length_of_file": None,
    #    "rows_to_skip": None,
    #}

    raw_cdc_data_partial_df = pd.DataFrame()
    #cdc_data_file = pd.read_csv(file_path, sep="\t")

    #print(f"File for {year} found at {file_path}")

    # Step 1: Read the file to detect the position of the first "---"
    #raw_df = pd.read_csv(file_path, engine='python', sep="\t")

    if year <= 2002:
        # Step 4a: Re-read the file, skipping footer rows, uses "dtypes_old" for handling the older years structure/data differences
        raw_cdc_data_partial_df = pd.read_csv(feetless_file_path, engine='python', dtype=dtypes_old)
        
    else:
        # Step 4b: Re-read the file, skipping footer rows, uses "dtypes_new" for handling the newer years structure/data differences 
        raw_cdc_data_partial_df = pd.read_csv(feetless_file_path, engine='python', dtype=dtypes_new)


    # Get Length of Dataframe
    total_length = len(raw_cdc_data_partial_df)

    # Index Match Rows where the "Notes" column has a value of "Total"
    totals_rows_df = raw_cdc_data_partial_df.loc[raw_cdc_data_partial_df['Notes'] == "Total"]

    # Index Match Rows where the "Notes" column does NOT have a value of "Total" 
    #totals_removed_df = totals_rows_df.loc[~totals_rows_df['Notes'] == "Total"]
    totals_removed_df = raw_cdc_data_partial_df.loc[raw_cdc_data_partial_df['Notes'] != "Total"]

    #print(totals_removed_df.shape[0])

    # Get Length of Non-Totals Dataframe
    new_total_length = len(totals_removed_df)

    # Get a Total value of rows to be removed 
    total_rows_removed = total_length - new_total_length 


    # Export folder Path
    #export_folder_path = raw_cdc_natality_birth_data_folder_path
    
    # Export file Name :: Totals Rows DF Export 
    #export_totals_rows_removed_file_name_csv = "CDC_Natality_Birth_Data_" + str(year) + "_totals_rows_removed.csv"
    #export_totals_rows_removed_file_name_pickle = "CDC_Natality_Birth_Data_" + str(year) + "_totals_rows_removed.pkl"

    # Export file Path :: Totals Rows DF Export 
    #export_totals_rows_removed_file_path_csv = Path(export_folder_path + "/" + export_totals_rows_removed_file_name_csv)
    #export_totals_rows_removed_file_path_pickle = Path(export_folder_path + "/" + export_totals_rows_removed_file_name_pickle)
    
    
    # Export file Name :: Totals Rows DF Export 
    #export_totals_rows_file_name_csv = "CDC_Natality_Birth_Data_" + str(year) + "_totals_rows.csv"
    #export_totals_rows_file_name_pickle = "CDC_Natality_Birth_Data_" + str(year) + "_totals_rows.pkl"

    # Export file Path :: Totals Rows DF Export 
    #export_totals_rows_file_path_csv = Path(export_folder_path + "/" + export_totals_rows_file_name_csv)
    #export_totals_rows_file_path_pickle = Path(export_folder_path + "/" + export_totals_rows_file_name_pickle)

    # Export CDC Data with Totals Rows Removed, leaving only the data 
    #totals_removed_df.to_csv(export_totals_rows_removed_file_path_csv, sep=",")

    #totals_removed_df.to_pickle(export_totals_rows_removed_file_path_pickle)

    # Export a Copy of the the removed total rows to a seperate file 
    #totals_rows_df.to_csv(export_totals_rows_file_path_csv, sep=",")
    
    #totals_rows_df.to_pickle(export_totals_rows_file_path_pickle)


    # Create Check Point File Name For Totals Row Removed
    checkpoint_export_file_name_total_rows_removed = "processed_cdc_data_" + str(year) + "_totals_rows_removed"
    
    # Create Check Point For Totals Row Removed
    CheckPoint.create_checkpoint("processed_cdc_data", checkpoint_export_file_name_total_rows_removed, totals_removed_df)

        
    # Create Check Point File Name For Totals Row 
    checkpoint_export_file_name_total_rows = "processed_cdc_data_" + str(year) + "_totals_rows"

    # Create Check Point For Totals Row
    CheckPoint.create_checkpoint("processed_cdc_data", checkpoint_export_file_name_total_rows, totals_rows_df)


    
    # Step 9 :: Delete Partial Totals Rows Removed CDC Data Dataframe to free up memory before looping again
    del totals_removed_df

    # Step 10 :: Delete Partial Totals Row CDC Data Dataframe to free up memory before looping again 
    del totals_rows_df

    del raw_cdc_data_partial_df

In [29]:
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                 CHECK POINT 1                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####

In [30]:
#total_length = 0

In [36]:
for year in range(year_start, year_end+1):


    #print("loop begins")
    
    global raw_cdc_data_main_bare_df
    
    bare_feet_file_path = find_bare_feet_files(str(year))
    
    #print(bare_feet_file_path)

    totals_rows_path = find_totals_files(str(year))


    #raw_cdc_data_main_bare_df = pd.DataFrame()

    #print(bare_feet_file_path)
    
    #print(totals_rows_path)

    #import_dictionary[year] = {
    #    "file_path" : file_path, 
    #    "footer_start_index" : None,
    #    "length_of_file": None,
    #    "rows_to_skip": None,
    #}
    
    #cdc_data_file = pd.read_csv(file_path, sep="\t")

    #print(f"File for {year} found at {file_path}")

    # Step 1: Read the file to detect the position of the first "---"
    #raw_df = pd.read_csv(file_path, engine='python', sep="\t")

    #print(bare_feet_file_path)
    #print(totals_rows_path)
    #print(year)
    
    if year <= 2002:
        # Step 4a: Re-read the file, skipping footer rows, uses "dtypes_old" for handling the older years structure/data differences
        
        raw_cdc_data_bare_partial_df = pd.read_csv(bare_feet_file_path, engine='python', dtype=dtypes_old)
        #raw_cdc_data_bare_partial_df = pd.read_pkl(bare_feet_file_path, engine='python', dtype=dtypes_old)
        #print(raw_cdc_data_bare_partial_df.shape[0])
        
        raw_cdc_data_totals_partial_df = pd.read_csv(totals_rows_path, engine='python', dtype=dtypes_old)
        #raw_cdc_data_totals_partial_df = pd.read_pkl(totals_rows_path, engine='python', dtype=dtypes_old)
        #print(raw_cdc_data_totals_partial_df.shape[0])
        
    else:
        # Step 4b: Re-read the file, skipping footer rows, uses "dtypes_new" for handling the newer years structure/data differences 
        
        raw_cdc_data_bare_partial_df = pd.read_csv(bare_feet_file_path, engine='python', dtype=dtypes_new)
        #raw_cdc_data_bare_partial_df = pd.read_pkl(bare_feet_file_path, engine='python', dtype=dtypes_new)
        #print(raw_cdc_data_bare_partial_df.shape[0])
        
        raw_cdc_data_totals_partial_df = pd.read_csv(totals_rows_path, engine='python', dtype=dtypes_new)
        #raw_cdc_data_totals_partial_df = pd.read_pkl(totals_rows_path, engine='python', dtype=dtypes_new)
        #print(raw_cdc_data_totals_partial_df.shape[0])

    #print(raw_cdc_data_main_bare_df.shape[0])
    #print(raw_cdc_data_totals_rows_df.shape[0])

    raw_cdc_data_main_bare_df = pd.concat([raw_cdc_data_main_bare_df, raw_cdc_data_bare_partial_df], axis=0, ignore_index=True)

    raw_cdc_data_totals_rows_df = pd.concat([raw_cdc_data_totals_rows_df, raw_cdc_data_totals_partial_df], axis=0, ignore_index=True)

    
    del raw_cdc_data_bare_partial_df

    del raw_cdc_data_totals_partial_df

    #print("updated mains files")
    #print(raw_cdc_data_main_bare_df.shape[0])
    #print(raw_cdc_data_totals_rows_df.shape[0])
    #print("loop end")

    # Export folder Path
    #export_folder_path = raw_cdc_natality_birth_data_folder_path

In [37]:
raw_cdc_data_main_bare_df.head()

,Unnamed: 0,Notes,Year,Year Code,State,State Code,County,County Code,Births,Month,Month Code
0,0,NaN,1995,1995,Alabama,01,"Calhoun County, AL",01015,1520,NaN,NaN
1,1,NaN,1995,1995,Alabama,01,"Jefferson County, AL",01073,9372,NaN,NaN
2,2,NaN,1995,1995,Alabama,01,"Madison County, AL",01089,3846,NaN,NaN
3,3,NaN,1995,1995,Alabama,01,"Mobile County, AL",01097,6093,NaN,NaN
4,4,NaN,1995,1995,Alabama,01,"Montgomery County, AL",01101,3514,NaN,NaN

In [38]:
raw_cdc_data_main_bare_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159835 entries, 0 to 159834
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   159835 non-null  int64
 1   Notes        0 non-null       object
 2   Year         159835 non-null  object
 3   Year Code    159835 non-null  object
 4   State        159835 non-null  object
 5   State Code   159835 non-null  object
 6   County       159835 non-null  object
 7   County Code  159835 non-null  object
 8   Births       159835 non-null  object
 9   Month        155772 non-null  object
 10  Month Code   155772 non-null  object
dtypes: int64(1), object(10)
memory usage: 13.4+ MB

In [39]:
raw_cdc_data_totals_rows_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13517 entries, 0 to 13516
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   13517 non-null  object
 1   Notes        13517 non-null  object
 2   Year         13489 non-null  object
 3   Year Code    13489 non-null  object
 4   State        13209 non-null  object
 5   State Code   13209 non-null  object
 6   County       0 non-null      object
 7   County Code  0 non-null      object
 8   Births       13517 non-null  object
 9   Month        13104 non-null  object
 10  Month Code   13104 non-null  object
dtypes: object(11)
memory usage: 1.1+ MB

In [40]:
not_needed_columns = [0, 1, 2]

raw_cdc_data_main_bare_df.drop(raw_cdc_data_main_bare_df.columns[not_needed_columns],axis=1,inplace=True)
raw_cdc_data_totals_rows_df.drop(raw_cdc_data_totals_rows_df.columns[not_needed_columns],axis=1,inplace=True)

In [41]:
raw_cdc_data_main_bare_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159835 entries, 0 to 159834
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Year Code    159835 non-null  object
 1   State        159835 non-null  object
 2   State Code   159835 non-null  object
 3   County       159835 non-null  object
 4   County Code  159835 non-null  object
 5   Births       159835 non-null  object
 6   Month        155772 non-null  object
 7   Month Code   155772 non-null  object
dtypes: object(8)
memory usage: 9.8+ MB

In [42]:
raw_cdc_data_totals_rows_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13517 entries, 0 to 13516
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year Code    13489 non-null  object
 1   State        13209 non-null  object
 2   State Code   13209 non-null  object
 3   County       0 non-null      object
 4   County Code  0 non-null      object
 5   Births       13517 non-null  object
 6   Month        13104 non-null  object
 7   Month Code   13104 non-null  object
dtypes: object(8)
memory usage: 844.9+ KB

In [43]:
# Export file Name :: Totals Rows DF Export 
 #export_raw_cdc_data_main_df_file_name = "raw_cdc_data_main_df.csv"
#export_raw_cdc_data_main_df_file_name_pickle = "raw_cdc_data_main_df.pkl"

# Export file Path :: Raw UFO Data Main file
#export_raw_cdc_data_main_df_file_path_csv = Path(export_folder_path + "/" + export_raw_cdc_data_main_df_file_name_csv)
#export_raw_cdc_data_main_df_file_path_pickle = Path(export_folder_path + "/" + export_raw_cdc_data_main_df_file_name_pickle)
    

# Export CDC Data with Totals Rows Removed, leaving only the data 
#raw_cdc_data_main_df.to_csv(export_raw_cdc_data_main_df_file_path_csv, sep=",")

#raw_cdc_data_main_df.to_pickle(export_raw_cdc_data_main_df_file_path_pickle)


CheckPoint.create_checkpoint("processed_cdc_data", "processed_cdc_data_main_bare_df", raw_cdc_data_main_bare_df)

CheckPoint.create_checkpoint("processed_cdc_data", "processed_cdc_data_totals_rows_df", raw_cdc_data_totals_rows_df)

In [50]:
set_search_pattern = "processed_cdc_data_*_totals_rows_removed"
set_search_folder = "processed_cdc_data"
set_save_folder = "archived_cdc_data"
set_save_file = "CDC_Natality_Birth_Data_Totals_Rows_Removed_Archive"
archive_module.create_archive(set_search_pattern, set_search_folder, set_save_folder, set_save_file, filter_extension=False, filter_by_file_extension=None, delete=True)

set_search_pattern = "processed_cdc_data_*_totals_rows_df"
set_search_folder = "processed_cdc_data"
set_save_folder = "archived_cdc_data"
set_save_file = "CDC_Natality_Birth_Data_Totals_Rows_Archive"
archive_module.create_archive(set_search_pattern, set_search_folder, set_save_folder, set_save_file, filter_extension=False, filter_by_file_extension=None, delete=True)

set_search_pattern = "processed_cdc_data_*_footer_removed"
set_search_folder = "processed_cdc_data"
set_save_folder = "archived_cdc_data"
set_save_file = "CDC_Natality_Birth_Data_Footers_Removed_Archive"
archive_module.create_archive(set_search_pattern, set_search_folder, set_save_folder, set_save_file, filter_extension=False, filter_by_file_extension=None, delete=True)

set_search_pattern = "raw_cdc_data_"
set_search_folder = "raw_cdc_data"
set_save_folder = "archived_cdc_data"
set_save_file = "CDC_Natality_Birth_Data_Data_Extraction_Parts_Archive"
filter_extension = True
filter_by_file_extension = ".txt"
archive_module.create_archive(set_search_pattern, set_search_folder, set_save_folder, set_save_file, filter_extension, filter_by_file_extension, delete=True)

set_search_pattern = "processed_cdc_data_"
set_search_folder = "processed_cdc_data"
set_save_folder = "archived_cdc_data"
set_save_file = "CDC_Natality_Birth_Data_Raw_Initial_Checkpoints_Archive"
filter_extension = False
filter_by_file_extension = None
archive_module.create_archive(set_search_pattern, set_search_folder, set_save_folder, set_save_file, filter_extension, filter_by_file_extension, delete=True)

No Files Found That Match the File Name Pattern processed_cdc_data_*_totals_rows_removed* in D:\WGU\D497\Project_1\data\processed_data\cdc_data
Error archiving files: 'NoneType' object is not iterable
Archiving failed. Files not deleted.
No Files Found That Match the File Name Pattern processed_cdc_data_*_totals_rows_df* in D:\WGU\D497\Project_1\data\processed_data\cdc_data
Error archiving files: 'NoneType' object is not iterable
Archiving failed. Files not deleted.
No Files Found That Match the File Name Pattern processed_cdc_data_*_footer_removed* in D:\WGU\D497\Project_1\data\processed_data\cdc_data
Error archiving files: 'NoneType' object is not iterable
Archiving failed. Files not deleted.
No Files Found That Match the File Name Pattern raw_cdc_data_*.txt in D:\WGU\D497\Project_1\data\raw_data\cdc_data
Error archiving files: 'NoneType' object is not iterable
Archiving failed. Files not deleted.
Files archived successfully.
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\processed_cdc_data_import_dictionary.csv
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\processed_cdc_data_import_dictionary.pkl
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\processed_cdc_data_main_bare_df.csv
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\processed_cdc_data_main_bare_df.pkl
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\processed_cdc_data_main_footless.csv
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\processed_cdc_data_main_footless.pkl
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\processed_cdc_data_totals_rows_df.csv
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\processed_cdc_data_totals_rows_df.pkl
WGU/D497/Project_1/data/processed_data/cdc_data/processed_cdc_data_import_dictionary.csv
	Modified:	2025-01-12 21:38:26
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	2541 bytes
	Uncompressed:	2541 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/processed_cdc_data_import_dictionary.pkl
	Modified:	2025-01-12 21:38:26
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	4411 bytes
	Uncompressed:	4411 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/processed_cdc_data_main_bare_df.csv
	Modified:	2025-01-12 21:40:12
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	9595781 bytes
	Uncompressed:	9595781 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/processed_cdc_data_main_bare_df.pkl
	Modified:	2025-01-12 21:40:12
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	6217914 bytes
	Uncompressed:	6217914 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/processed_cdc_data_main_footless.csv
	Modified:	2025-01-12 21:38:26
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	11172362 bytes
	Uncompressed:	11172362 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/processed_cdc_data_main_footless.pkl
	Modified:	2025-01-12 21:38:26
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	8656414 bytes
	Uncompressed:	8656414 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/processed_cdc_data_totals_rows_df.csv
	Modified:	2025-01-12 21:40:12
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	469056 bytes
	Uncompressed:	469056 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/processed_cdc_data_totals_rows_df.pkl
	Modified:	2025-01-12 21:40:12
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	600141 bytes
	Uncompressed:	600141 bytes

In [51]:
cdc_data_main_combined_df = raw_cdc_data_main_bare_df.copy()

In [52]:
CheckPoint.create_checkpoint("processed_cdc_data","cdc_data_main_combined_df", cdc_data_main_combined_df)

In [53]:
del raw_cdc_data_main_bare_df
del raw_cdc_data_totals_rows_df

In [ ]:
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####                                         #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####              END OF PART A              #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####             START OF PART B             #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####                                         #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####

In [54]:
get_main_dataframe("cdc_data_main_combined_df")

cdc_data_main_combined_df.csv
cdc_data_main_combined_df.pkl

In [55]:
cdc_data_main_df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159835 entries, 0 to 159834
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Year Code    159835 non-null  int64
 1   State        159835 non-null  object
 2   State Code   159835 non-null  int64
 3   County       159835 non-null  object
 4   County Code  159835 non-null  int64
 5   Births       159835 non-null  object
 6   Month        155772 non-null  object
 7   Month Code   155772 non-null  float64
dtypes: float64(1), int64(3), object(4)
memory usage: 9.8+ MB

In [56]:
cdc_data_main_df_pickle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159835 entries, 0 to 159834
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Year Code    159835 non-null  object
 1   State        159835 non-null  object
 2   State Code   159835 non-null  object
 3   County       159835 non-null  object
 4   County Code  159835 non-null  object
 5   Births       159835 non-null  object
 6   Month        155772 non-null  object
 7   Month Code   155772 non-null  object
dtypes: object(8)
memory usage: 9.8+ MB

In [57]:
cdc_data_main_df = cdc_data_main_df_pickle.copy()

In [58]:
del cdc_data_main_df_csv
del cdc_data_main_df_pickle

In [59]:
cdc_data_main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159835 entries, 0 to 159834
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Year Code    159835 non-null  object
 1   State        159835 non-null  object
 2   State Code   159835 non-null  object
 3   County       159835 non-null  object
 4   County Code  159835 non-null  object
 5   Births       159835 non-null  object
 6   Month        155772 non-null  object
 7   Month Code   155772 non-null  object
dtypes: object(8)
memory usage: 9.8+ MB

In [60]:
cdc_data_main_df.sample(15)

,Year Code,State,State Code,County,County Code,Births,Month,Month Code
21135,2005,Tennessee,47,"Williamson County, TN",47187,167,June,6
79801,2013,Pennsylvania,42,"Lackawanna County, PA",42069,181,May,5
108402,2017,Georgia,13,"Houston County, GA",13153,166,March,3
102031,2016,California,06,"Tulare County, CA",06107,556,May,5
69155,2011,Tennessee,47,"Sumner County, TN",47165,161,December,12
89977,2014,Virginia,51,"Newport News city, VA",51700,260,September,9
139665,2021,Virginia,51,"Alexandria city, VA",51510,207,April,4
121086,2018,Maryland,24,"Montgomery County, MD",24031,988,November,11
103358,2016,Georgia,13,"Clayton County, GA",13063,352,July,7
32454,2007,Missouri,29,"Clay County, MO",29047,228,February,2
62304,2011,Virginia,51,"Richmond city, VA",51760,223,January,1
64262,2011,California,06,"El Dorado County, CA",06017,130,May,5
36147,2007,Louisiana,22,"Jefferson Parish, LA",22051,601,August,8
29729,2006,Texas,48,"Galveston County, TX",48167,374,September,9
46823,2009,Kansas,20,"Johnson County, KS",20091,572,January,1

In [61]:
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 


CheckPoint.create_checkpoint("processed_cdc_data", "cdc_data_main_months_preimp_start_df", cdc_data_main_df)


#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####

In [62]:
# Convert Spaces To Underscores In COlumn Names

cdc_data_main_df.columns = cdc_data_main_df.columns.str.replace(' ', '_').str.lower()

In [63]:
cdc_data_main_df = cdc_data_main_df[['year_code', 'month_code', 'state_code', 'county_code', 'births']]

In [64]:
cdc_data_main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159835 entries, 0 to 159834
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   year_code    159835 non-null  object
 1   month_code   155772 non-null  object
 2   state_code   159835 non-null  object
 3   county_code  159835 non-null  object
 4   births       159835 non-null  object
dtypes: object(5)
memory usage: 6.1+ MB

In [66]:
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 


CheckPoint.create_checkpoint("processed_cdc_data", "cdc_data_main_months_preimp_columns_df", cdc_data_main_df)


#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####

In [67]:
del cdc_data_main_df

In [71]:
get_main_dataframe("cdc_data_main_months_preimp_columns_df")

cdc_data_main_months_preimp_columns_df.csv
cdc_data_main_months_preimp_columns_df.pkl

In [73]:
cdc_data_main_df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159835 entries, 0 to 159834
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   year_code    159835 non-null  int64
 1   month_code   155772 non-null  float64
 2   state_code   159835 non-null  int64
 3   county_code  159835 non-null  int64
 4   births       159835 non-null  object
dtypes: float64(1), int64(3), object(1)
memory usage: 6.1+ MB

In [75]:
cdc_data_main_df_pickle

       year_code month_code state_code county_code births
0           1995        NaN         01       01015   1520
1           1995        NaN         01       01073   9372
2           1995        NaN         01       01089   3846
3           1995        NaN         01       01097   6093
4           1995        NaN         01       01101   3514
...          ...        ...        ...         ...    ...
159830      2023         12         55       55131    102
159831      2023         12         55       55133    282
159832      2023         12         55       55139    137
159833      2023         12         55       55999   1573
159834      2023         12         56       56999    472

[159835 rows x 5 columns]

In [77]:
cdc_data_main_df = cdc_data_main_df_pickle.copy()

In [79]:
del cdc_data_main_df_csv
del cdc_data_main_df_pickle

In [80]:
cdc_data_main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159835 entries, 0 to 159834
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   year_code    159835 non-null  object
 1   month_code   155772 non-null  object
 2   state_code   159835 non-null  object
 3   county_code  159835 non-null  object
 4   births       159835 non-null  object
dtypes: object(5)
memory usage: 6.1+ MB

In [115]:
count_zero_births = cdc_data_main_df[cdc_data_main_df['births'] == "0"]['births'].count()

In [116]:
print(count_zero_births)

5076

In [117]:
count_missing_county = cdc_data_main_df[cdc_data_main_df['births'] == "Missing County"]['births'].count()

In [118]:
print(count_missing_county)

0

In [119]:
cdc_data_main_df.loc[cdc_data_main_df['births'] == "Missing County", "births"] = "0"

In [120]:
cdc_data_main_df[cdc_data_main_df['births'] == "Missing County"]

Empty DataFrame
Columns: [year_code, month_code, state_code, county_code, births]
Index: []

In [121]:
count_zero_births_corrected = cdc_data_main_df[cdc_data_main_df['births'] == "0"]['births'].count()

In [122]:
print(count_zero_births_corrected)

5076

In [123]:
assert count_zero_births_corrected == (count_zero_births + count_missing_county)

In [124]:
cdc_data_main_df['births'].unique()

array([1520, 9372, 3846, ..., 7596, 4133, 5529],
      shape=(9890,), dtype=object)

In [125]:
cdc_data_main_df['births'] = cdc_data_main_df['births'].astype(int)

In [126]:
cdc_data_main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159835 entries, 0 to 159834
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   year_code    159835 non-null  object
 1   month_code   155772 non-null  object
 2   state_code   159835 non-null  object
 3   county_code  159835 non-null  object
 4   births       159835 non-null  int64
dtypes: int64(1), object(4)
memory usage: 6.1+ MB

In [127]:
cdc_data_main_dfssplit_2003_2023_df = cdc_data_main_df[cdc_data_main_df['year_code'] >= '2003']

In [128]:
cdc_data_main_dfssplit_1995_2002_df = cdc_data_main_df[cdc_data_main_df['year_code'] < '2003']

In [129]:
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 


CheckPoint.create_checkpoint("processed_cdc_data", "cdc_data_main_months_preimp_dfssplit_2003_2023", cdc_data_main_dfssplit_2003_2023_df)

CheckPoint.create_checkpoint("processed_cdc_data", "cdc_data_main_months_preimp_dfssplit_1995_2002", cdc_data_main_dfssplit_1995_2002_df)


#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####

In [132]:
months_df = pd.DataFrame({'month_code': range(1, 13)})

In [133]:
cdc_data_main_dfssplit_1995_2002_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4063 entries, 0 to 4062
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year_code    4063 non-null   object
 1   month_code   0 non-null      object
 2   state_code   4063 non-null   object
 3   county_code  4063 non-null   object
 4   births       4063 non-null   int64
dtypes: int64(1), object(4)
memory usage: 190.5+ KB

In [134]:
cdc_data_main_dfssplit_1995_2002_df = cdc_data_main_dfssplit_1995_2002_df.drop(['month_code'], axis=1).reset_index(drop=True)

In [135]:
crossed_df = cdc_data_main_dfssplit_1995_2002_df.merge(months_df, how="cross")

In [136]:
crossed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48756 entries, 0 to 48755
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year_code    48756 non-null  object
 1   state_code   48756 non-null  object
 2   county_code  48756 non-null  object
 3   births       48756 non-null  int64
 4   month_code   48756 non-null  int64
dtypes: int64(2), object(3)
memory usage: 1.9+ MB

In [137]:
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 


CheckPoint.create_checkpoint("processed_cdc_data", "cdc_data_main_months_preimp_dfssplit_1995_2002_crossjoin_months_df", crossed_df)


#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####

In [138]:
crossed_df['base_value'] = crossed_df['births'] // 12

In [139]:
crossed_df['remainder_value'] = crossed_df['births'] % 12

In [140]:
crossed_df['monthly_births'] = crossed_df['base_value']

In [141]:
crossed_df.loc[crossed_df.groupby(['year_code','state_code','county_code'])['month_code'].rank(method='first', ascending=True) <= crossed_df['remainder_value'], 'monthly_births'] += 1

In [142]:
crossed_df.sample(25)

,year_code,state_code,county_code,births,month_code,base_value,remainder_value,monthly_births
31087,2000,06,06099,7249,8,604,1,604
14622,1997,25,25013,5745,7,478,9,479
35904,2000,48,48423,2653,1,221,1,222
40479,2001,37,37133,3126,4,260,6,261
33921,2000,35,35999,15884,10,1323,8,1323
484,1995,06,06075,8598,5,716,6,717
1537,1995,17,17099,1371,2,114,3,115
10742,1996,42,42055,1559,3,129,11,130
18121,1997,55,55009,3050,2,254,2,255
40883,2001,39,39169,1574,12,131,2,131
13956,1997,18,18095,1699,1,141,7,142
29734,1999,48,48215,14094,11,1174,6,1174
42235,2001,51,51153,5444,8,453,8,454
42921,2002,06,06001,21805,10,1817,1,1817
46593,2002,37,37147,1987,10,165,7,165
20859,1998,26,26065,3777,4,314,9,315
22059,1998,37,37001,1657,4,138,1,138
31678,2000,12,12101,3761,11,313,5,313
41149,2001,42,42029,5754,2,479,6,480
16578,1997,40,40999,24372,7,2031,0,2031
27255,1999,28,28049,3865,4,322,1,322
24878,1999,06,06077,8857,3,738,1,738
42855,2002,04,04027,3095,4,257,11,258
20256,1998,20,20209,2731,1,227,7,228
27092,1999,26,26147,2082,9,173,6,173

In [143]:
crossed_df[crossed_df['monthly_births'] != crossed_df['base_value']].sort_values(by=['year_code','state_code','county_code'])

,year_code,state_code,county_code,births,month_code,base_value,remainder_value,monthly_births
0,1995,01,01015,1520,1,126,8,127
1,1995,01,01015,1520,2,126,8,127
2,1995,01,01015,1520,3,126,8,127
3,1995,01,01015,1520,4,126,8,127
4,1995,01,01015,1520,5,126,8,127
...,...,...,...,...,...,...,...,...
48749,2002,56,56999,6550,6,545,10,546
48750,2002,56,56999,6550,7,545,10,546
48751,2002,56,56999,6550,8,545,10,546
48752,2002,56,56999,6550,9,545,10,546
48753,2002,56,56999,6550,10,545,10,546

In [144]:
crossed_df = crossed_df.drop(['births', 'base_value', 'remainder_value'], axis=1).reset_index(drop=True)

In [145]:
crossed_df.rename(columns={'monthly_births':'births'}, inplace=True)

In [146]:
crossed_df

      year_code state_code county_code  month_code  births
0          1995         01       01015           1     127
1          1995         01       01015           2     127
2          1995         01       01015           3     127
3          1995         01       01015           4     127
4          1995         01       01015           5     127
...         ...        ...         ...         ...     ...
48751      2002         56       56999           8     546
48752      2002         56       56999           9     546
48753      2002         56       56999          10     546
48754      2002         56       56999          11     545
48755      2002         56       56999          12     545

[48756 rows x 5 columns]

In [147]:
original_total = cdc_data_main_dfssplit_1995_2002_df['births'].sum()

In [148]:
print(original_total)

31679417

In [149]:
imputed_total = crossed_df['births'].sum()

In [150]:
print(imputed_total)

31679417

In [151]:
difference_total = original_total-imputed_total

In [152]:
print(difference_total)

0

In [153]:
difference_percent = difference_total/original_total * 100

In [161]:
print(f"{difference_percent:%}")

0.000000%

In [162]:
cdc_data_main_dfs_corrected_1995_2002_df = crossed_df.copy()

In [163]:
cdc_data_main_dfs_corrected_df = pd.concat([cdc_data_main_dfs_corrected_1995_2002_df, cdc_data_main_dfssplit_2003_2023_df])

In [164]:
cdc_data_main_dfs_corrected_df = cdc_data_main_dfs_corrected_df[['year_code', 'month_code', 'state_code', 'county_code','births']]

In [ ]:
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 


CheckPoint.create_checkpoint("processed_cdc_data", "cdc_data_main_months_postimp_dfs_corrected_df", cdc_data_main_dfs_corrected_df)


#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####

In [166]:
cdc_data_main_dfs_corrected_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 204528 entries, 0 to 159834
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   year_code    204528 non-null  object
 1   month_code   204528 non-null  object
 2   state_code   204528 non-null  object
 3   county_code  204528 non-null  object
 4   births       204528 non-null  int64
dtypes: int64(1), object(4)
memory usage: 9.4+ MB

In [167]:
cdc_data_main_dfs_corrected_df[cdc_data_main_dfs_corrected_df['month_code'].isnull()]

Empty DataFrame
Columns: [year_code, month_code, state_code, county_code, births]
Index: []

In [168]:
cdc_data_main_dfs_corrected_df.duplicated().sum()

np.int64(0)

In [169]:
cdc_data_main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159835 entries, 0 to 159834
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   year_code    159835 non-null  object
 1   month_code   155772 non-null  object
 2   state_code   159835 non-null  object
 3   county_code  159835 non-null  object
 4   births       159835 non-null  int64
dtypes: int64(1), object(4)
memory usage: 6.1+ MB

In [170]:
starting_count = cdc_data_main_df.shape[0]

In [171]:
cdc_data_main_dfssplit_2003_2023_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 155772 entries, 4063 to 159834
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   year_code    155772 non-null  object
 1   month_code   155772 non-null  object
 2   state_code   155772 non-null  object
 3   county_code  155772 non-null  object
 4   births       155772 non-null  int64
dtypes: int64(1), object(4)
memory usage: 7.1+ MB

In [172]:
new_format_count = cdc_data_main_dfssplit_2003_2023_df.shape[0]

In [173]:
cdc_data_main_dfssplit_1995_2002_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4063 entries, 0 to 4062
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year_code    4063 non-null   object
 1   state_code   4063 non-null   object
 2   county_code  4063 non-null   object
 3   births       4063 non-null   int64
dtypes: int64(1), object(3)
memory usage: 127.1+ KB

In [174]:
old_format_pre_impute_count = cdc_data_main_dfssplit_1995_2002_df.shape[0]

In [175]:
crossed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48756 entries, 0 to 48755
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year_code    48756 non-null  object
 1   state_code   48756 non-null  object
 2   county_code  48756 non-null  object
 3   month_code   48756 non-null  int64
 4   births       48756 non-null  int64
dtypes: int64(2), object(3)
memory usage: 1.9+ MB

In [183]:
crossed_count = crossed_df.shape[0]

In [184]:
cdc_data_main_dfs_corrected_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 204528 entries, 0 to 159834
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   year_code    204528 non-null  object
 1   month_code   204528 non-null  object
 2   state_code   204528 non-null  object
 3   county_code  204528 non-null  object
 4   births       204528 non-null  int64
dtypes: int64(1), object(4)
memory usage: 9.4+ MB

In [178]:
final_count = cdc_data_main_dfs_corrected_df.shape[0]

In [179]:
assert (starting_count - new_format_count) == old_format_pre_impute_count

In [180]:
assert(new_format_count + old_format_pre_impute_count) == starting_count

In [185]:
assert(crossed_count + new_format_count) == final_count

In [186]:
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 


CheckPoint.create_checkpoint("processed_cdc_data", "cdc_data_main_months_postimp_dfs_combined_df", cdc_data_main_dfs_corrected_df)


#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####

In [190]:
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 

# Cleanup

# Delete DataFrames

del cdc_data_main_df
del cdc_data_main_dfssplit_1995_2002_df
del cdc_data_main_dfssplit_2003_2023_df
del months_df
del crossed_df
del cdc_data_main_dfs_corrected_df

#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 


set_search_pattern = "cdc_data_main_combined_df"
set_search_folder = "processed_cdc_data"
set_save_folder = "archived_cdc_data"
set_save_file = "CDC_Natality_Birth_Data_Raw_Initial_Combined_Files_Archive"
filter_extension = False
filter_by_file_extension = None
archive_module.create_archive(set_search_pattern, set_search_folder, set_save_folder, set_save_file, filter_extension, filter_by_file_extension, delete=True)


#### #### #### #### #### #### #### ####
#### #### #### #### #### #### #### ####
#### #### #### #### #### #### #### ####
#### #### #### #### #### #### #### ####


set_search_pattern = "cdc_data_main_months_preimp*"
set_search_folder = "processed_cdc_data"
set_save_folder = "archived_cdc_data"
set_save_file = "CDC_Data_Main_Months_PreImpute_Checkpoints_Archive"
filter_extension = False
filter_by_file_extension = None
archive_module.create_archive(set_search_pattern, set_search_folder, set_save_folder, set_save_file, filter_extension, filter_by_file_extension, delete=True)

#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####

Files archived successfully.
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\cdc_data_main_combined_df.csv
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\cdc_data_main_combined_df.pkl
WGU/D497/Project_1/data/processed_data/cdc_data/cdc_data_main_combined_df.csv
	Modified:	2025-01-12 21:42:38
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	9595781 bytes
	Uncompressed:	9595781 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/cdc_data_main_combined_df.pkl
	Modified:	2025-01-12 21:42:38
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	6217074 bytes
	Uncompressed:	6217074 bytes
Files archived successfully.
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\cdc_data_main_months_preimp_columns_df.csv
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\cdc_data_main_months_preimp_columns_df.pkl
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\cdc_data_main_months_preimp_dfssplit_1995_2002.csv
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\cdc_data_main_months_preimp_dfssplit_1995_2002.pkl
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\cdc_data_main_months_preimp_dfssplit_1995_2002_crossjoin_months_df.csv
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\cdc_data_main_months_preimp_dfssplit_1995_2002_crossjoin_months_df.pkl
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\cdc_data_main_months_preimp_dfssplit_2003_2023.csv
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\cdc_data_main_months_preimp_dfssplit_2003_2023.pkl
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\cdc_data_main_months_preimp_start_df.csv
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\cdc_data_main_months_preimp_start_df.pkl
WGU/D497/Project_1/data/processed_data/cdc_data/cdc_data_main_months_preimp_columns_df.csv
	Modified:	2025-01-12 21:43:20
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	3461553 bytes
	Uncompressed:	3461553 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/cdc_data_main_months_preimp_columns_df.pkl
	Modified:	2025-01-12 21:43:20
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	3037969 bytes
	Uncompressed:	3037969 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/cdc_data_main_months_preimp_dfssplit_1995_2002.csv
	Modified:	2025-01-12 21:51:24
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	86168 bytes
	Uncompressed:	86168 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/cdc_data_main_months_preimp_dfssplit_1995_2002.pkl
	Modified:	2025-01-12 21:51:24
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	157582 bytes
	Uncompressed:	157582 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/cdc_data_main_months_preimp_dfssplit_1995_2002_crossjoin_months_df.csv
	Modified:	2025-01-12 21:51:48
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	1094389 bytes
	Uncompressed:	1094389 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/cdc_data_main_months_preimp_dfssplit_1995_2002_crossjoin_months_df.pkl
	Modified:	2025-01-12 21:51:48
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	1301714 bytes
	Uncompressed:	1301714 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/cdc_data_main_months_preimp_dfssplit_2003_2023.csv
	Modified:	2025-01-12 21:51:24
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	3311789 bytes
	Uncompressed:	3311789 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/cdc_data_main_months_preimp_dfssplit_2003_2023.pkl
	Modified:	2025-01-12 21:51:24
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	4663216 bytes
	Uncompressed:	4663216 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/cdc_data_main_months_preimp_start_df.csv
	Modified:	2025-01-12 21:43:06
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	9595781 bytes
	Uncompressed:	9595781 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/cdc_data_main_months_preimp_start_df.pkl
	Modified:	2025-01-12 21:43:06
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	6217108 bytes
	Uncompressed:	6217108 bytes

In [ ]:
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####                                         #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####              END OF PART B              #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####             START OF PART C             #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####                                         #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####