In [5]:
# Data Load - FIPS 
## Version 3
## 1/12/25
## 20:35

In [6]:
import sys
import os

# Add the root directory to sys.path
sys.path.append(os.path.abspath(".."))

# Now you can use absolute imports
from d497_helpers import folder_manager as fm, archive_module, checkpoint_helper as CheckPoint, database_helper as db_tool, config


# Pandas
import pandas as pd

# Numpy
import numpy as np

# RegularExpression for string matching
import re

# GLOB 
import glob 

# Pathlib 
from pathlib import Path

In [7]:
def load_FIPS_data():

    global fips_data_main_df_csv
    global fips_data_main_df_pickle

    csv_dtypes = {
        'state_name': str,
        'county_name': str,
        'city_name': str,
        'state_code': str,
        'state_fipcode': str,
        'county_code': str,
        'county_fipcode': str,
        'city_code': str,
        'city_fipcode': str
    }

    file_name_csv = "fips_data_cleaning_complete.csv"
    
    file_name_pickle = "fips_data_cleaning_complete.pkl"
    
    file_path_csv = config.global_processed_fips_data_folder_path + "/" + file_name_csv
    file_path_pickle = config.global_processed_fips_data_folder_path + "/" + file_name_pickle

    import_main_df_csv = pd.read_csv(file_path_csv, sep=",", dtype=csv_dtypes)
    import_main_df_pickle = pd.read_pickle(file_path_pickle)

        
    fips_data_main_df_csv = import_main_df_csv.copy()
    fips_data_main_df_pickle = import_main_df_pickle.copy()


    del import_main_df_csv
    del import_main_df_pickle

In [8]:
# Initializes Database Engine and Session For SQL
db_tool.initialize_engine()
db_tool.initialize_session()

load_FIPS_data()

In [9]:
fips_data_main_df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39791 entries, 0 to 39790
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state_name         39791 non-null  object
 1   state_code         39791 non-null  object
 2   state_fipcode      39791 non-null  object
 3   county_name        39791 non-null  object
 4   county_fipcode     39791 non-null  object
 5   city_name          39791 non-null  object
 6   city_fipcode       39791 non-null  object
 7   fips_five          39791 non-null  int64
 8   fips_nine          39791 non-null  int64
 9   multi_county_flag  39791 non-null  bool
 10  county_count       39791 non-null  int64
 11  county_rank        39791 non-null  int64
dtypes: bool(1), int64(4), object(7)
memory usage: 3.4+ MB

In [10]:
fips_data_main_df_pickle.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39791 entries, 0 to 1791
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state_name         39791 non-null  object
 1   state_code         39791 non-null  object
 2   state_fipcode      39791 non-null  object
 3   county_name        39791 non-null  object
 4   county_fipcode     39791 non-null  object
 5   city_name          39791 non-null  object
 6   city_fipcode       39791 non-null  object
 7   fips_five          39791 non-null  object
 8   fips_nine          39791 non-null  object
 9   multi_county_flag  39791 non-null  bool
 10  county_count       39791 non-null  int64
 11  county_rank        39791 non-null  int64
dtypes: bool(1), int64(2), object(9)
memory usage: 3.7+ MB

In [11]:
fips_data_main_df = fips_data_main_df_pickle.copy()

del fips_data_main_df_csv
del fips_data_main_df_pickle

In [12]:
fips_data_main_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39791 entries, 0 to 1791
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state_name         39791 non-null  object
 1   state_code         39791 non-null  object
 2   state_fipcode      39791 non-null  object
 3   county_name        39791 non-null  object
 4   county_fipcode     39791 non-null  object
 5   city_name          39791 non-null  object
 6   city_fipcode       39791 non-null  object
 7   fips_five          39791 non-null  object
 8   fips_nine          39791 non-null  object
 9   multi_county_flag  39791 non-null  bool
 10  county_count       39791 non-null  int64
 11  county_rank        39791 non-null  int64
dtypes: bool(1), int64(2), object(9)
memory usage: 3.7+ MB

In [13]:
fips_data_main_df.sample(15)

,state_name,state_code,state_fipcode,county_name,county_fipcode,city_name,city_fipcode,fips_five,fips_nine,multi_county_flag,county_count,county_rank
1519,INDIANA,IN,18,MONTGOMERY,C107,WAYNETOWN,5150,18107,181075150,False,1,1
804,NEW YORK,NY,36,CHAUTAUQUA,C013,KIANTONE,3027,36013,360133027,False,1,1
315,MICHIGAN,MI,26,MACOMB,C099,NEW BALTIMORE,3500,26099,260993500,True,2,1
477,TEXAS,TX,48,NAVARRO,C349,POWELL,5508,48349,483495508,False,1,1
1632,NEW JERSEY,NJ,34,ESSEX,C013,CEDAR GROVE,0574,34013,340130574,False,1,1
242,NEW YORK,NY,36,SULLIVAN,C105,BURLINGHAM,0761,36105,361050761,False,1,1
774,CALIFORNIA,CA,06,HUMBOLDT,C023,FORTUNA,1340,06023,060231340,False,1,1
1077,TEXAS,TX,48,BELL,C027,NOLANVILLE,4924,48027,480274924,False,1,1
1087,PENNSYLVANIA,PA,42,BERKS,C011,GIBRALTAR,3161,42011,420113161,False,1,1
897,NEBRASKA,NE,31,YORK,C185,YORK,5360,31185,311855360,False,1,1
1407,FLORIDA,FL,12,LEE,C071,CAPTIVA,0456,12071,120710456,False,1,1
1243,NEW YORK,NY,36,HERKIMER,C043,MIDDLEVILLE,3740,36043,360433740,False,1,1
686,MICHIGAN,MI,26,SANILAC,C151,MELVIN,3130,26151,261513130,False,1,1
1213,WISCONSIN,WI,55,OZAUKEE,C089,PORT WASHINGTON,3850,55089,550893850,False,1,1
1834,VIRGINIA,VA,51,BATH,C017,BACOVA,0128,51017,510170128,False,1,1

In [14]:
db_tool.export_to_sql(fips_data_main_df, "fips_data")

2025-01-12 20:35:36,846 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-12 20:35:36,856 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("fips_data")
2025-01-12 20:35:36,858 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-12 20:35:36,860 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("fips_data")
2025-01-12 20:35:36,861 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-12 20:35:36,864 INFO sqlalchemy.engine.Engine
CREATE TABLE fips_data (
	state_name TEXT,
	state_code TEXT,
	state_fipcode TEXT,
	county_name TEXT,
	county_fipcode TEXT,
	city_name TEXT,
	city_fipcode TEXT,
	fips_five TEXT,
	fips_nine TEXT,
	multi_county_flag BOOLEAN,
	county_count BIGINT,
	county_rank BIGINT
)


2025-01-12 20:35:36,865 INFO sqlalchemy.engine.Engine [no key 0.00116s] ()
2025-01-12 20:35:37,429 INFO sqlalchemy.engine.Engine INSERT INTO fips_data (state_name, state_code, state_fipcode, county_name, county_fipcode, city_name, city_fipcode, fips_five, fips_nine, multi_county_flag, county_count, county_rank) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-01-12 20:35:37,431 INFO sqlalchemy.engine.Engine [generated in 0.44567s] [('ALABAMA', 'AL', '01', 'AUTAUGA', 'C001', 'AUTAUGAVILLE', '0220', '01001', '010010220', 0, 1, 1), ('ALABAMA', 'AL', '01', 'AUTAUGA', 'C001', 'BILLINGSLEY', '0340', '01001', '010010340', 0, 1, 1), ('ALABAMA', 'AL', '01', 'AUTAUGA', 'C001', 'BOOTH', '0425', '01001', '010010425', 0, 1, 1), ('ALABAMA', 'AL', '01', 'AUTAUGA', 'C001', 'JONES', '1796', '01001', '010011796', 0, 1, 1), ('ALABAMA', 'AL', '01', 'AUTAUGA', 'C001', 'MARBURY', '2002', '01001', '010012002', 0, 1, 1), ('ALABAMA', 'AL', '01', 'AUTAUGA', 'C001', 'PRATTVILLE', '2540', '01001', '010012540', 0, 1, 1), ('ALABAMA', 'AL', '01', 'BALDWIN', 'C003', 'BAY MINETTE', '0240', '01003', '010030240', 0, 1, 1), ('ALABAMA', 'AL', '01', 'BALDWIN', 'C003', 'BON SECOUR', '0423', '01003', '010030423', 0, 1, 1)  ... displaying 10 of 39791 total bound parameter sets ...  ('WYOMING', 'WY', '56', 'WESTON', 'C045', 'OSAGE', '0623', '56045', '560450623', 0, 1, 1), ('WYOMING', 'WY', '56', 'WESTON', 'C045', 'UPTON', '0850', '56045', '560450850', 0, 1, 1)]
2025-01-12 20:35:37,542 INFO sqlalchemy.engine.Engine COMMIT

In [15]:
commit_test_sql = "SELECT * FROM fips_data"

In [16]:
commit_confirmation_df = pd.DataFrame()

In [17]:
commit_confirmation_df = db_tool.export_df_from_sql(commit_test_sql, commit_confirmation_df)

2025-01-12 20:35:37,574 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-12 20:35:37,575 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM fips_data")
2025-01-12 20:35:37,576 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-12 20:35:37,577 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM fips_data")
2025-01-12 20:35:37,578 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-12 20:35:37,580 INFO sqlalchemy.engine.Engine SELECT * FROM fips_data
2025-01-12 20:35:37,580 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-12 20:35:37,795 INFO sqlalchemy.engine.Engine COMMIT

In [18]:
commit_confirmation_df.head()

,state_name,state_code,state_fipcode,county_name,county_fipcode,city_name,city_fipcode,fips_five,fips_nine,multi_county_flag,county_count,county_rank
0,ALABAMA,AL,01,AUTAUGA,C001,AUTAUGAVILLE,0220,01001,010010220,0,1,1
1,ALABAMA,AL,01,AUTAUGA,C001,BILLINGSLEY,0340,01001,010010340,0,1,1
2,ALABAMA,AL,01,AUTAUGA,C001,BOOTH,0425,01001,010010425,0,1,1
3,ALABAMA,AL,01,AUTAUGA,C001,JONES,1796,01001,010011796,0,1,1
4,ALABAMA,AL,01,AUTAUGA,C001,MARBURY,2002,01001,010012002,0,1,1

In [19]:
commit_confirmation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39791 entries, 0 to 39790
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state_name         39791 non-null  object
 1   state_code         39791 non-null  object
 2   state_fipcode      39791 non-null  object
 3   county_name        39791 non-null  object
 4   county_fipcode     39791 non-null  object
 5   city_name          39791 non-null  object
 6   city_fipcode       39791 non-null  object
 7   fips_five          39791 non-null  object
 8   fips_nine          39791 non-null  object
 9   multi_county_flag  39791 non-null  int64
 10  county_count       39791 non-null  int64
 11  county_rank        39791 non-null  int64
dtypes: int64(3), object(9)
memory usage: 3.6+ MB

In [20]:
commit_confirmation_df.shape[0]

39791

In [21]:
fips_data_main_df.shape[0]

39791

In [22]:
CheckPoint.create_checkpoint("cleaned_fips_data", "fips_data_main_df", fips_data_main_df)

In [24]:
set_search_pattern = "*fips*"
set_search_folder = "processed_fips_data"
set_save_folder = "archived_fips_data"
set_save_file = "FIPS_Data_Extract_and_Cleaning_Parts"
filter_extension = False
filter_by_file_extension = None
archive_module.create_archive(set_search_pattern, set_search_folder, set_save_folder, set_save_file, filter_extension, filter_by_file_extension, delete=True)

Files archived successfully.
Deleted: D:\WGU\D497\Project_1\data\processed_data\fips_data\fips_data_cleaning_complete.csv
Deleted: D:\WGU\D497\Project_1\data\processed_data\fips_data\fips_data_cleaning_complete.pkl
Deleted: D:\WGU\D497\Project_1\data\processed_data\fips_data\master_fips_data_dfs_complete.csv
Deleted: D:\WGU\D497\Project_1\data\processed_data\fips_data\master_fips_data_dfs_complete.pkl
WGU/D497/Project_1/data/processed_data/fips_data/fips_data_cleaning_complete.csv
	Modified:	2025-01-12 19:17:22
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	2795725 bytes
	Uncompressed:	2795725 bytes
WGU/D497/Project_1/data/processed_data/fips_data/fips_data_cleaning_complete.pkl
	Modified:	2025-01-12 19:17:22
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	4072935 bytes
	Uncompressed:	4072935 bytes
WGU/D497/Project_1/data/processed_data/fips_data/master_fips_data_dfs_complete.csv
	Modified:	2025-01-12 19:17:12
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	2399754 bytes
	Uncompressed:	2399754 bytes
WGU/D497/Project_1/data/processed_data/fips_data/master_fips_data_dfs_complete.pkl
	Modified:	2025-01-12 19:17:12
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	3396166 bytes
	Uncompressed:	3396166 bytes

In [25]:
del commit_confirmation_df
del fips_data_main_df